html{
	
}
/*form*/
.conteudobla{
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin: 20px auto;
}
.conteudobla .listabla{
	border: 2px solid #00ff88;
	border-radius: 10px;
	width: 80%;
	
}
.listabla form{
	display: flex;
	justify-content: center;
}
.lista{
	text-align: center;
  	color: #00ff88;
	margin-top: 15px;
  	margin-bottom: 10px;
	font-weight: normal;
	font-size: 25px;
}
.conteudobla .listabla label{
    font-size: 15px;
}
.conteudobla .listabla form input{
	background-color: transparent;
	border: 1px solid #00ff88;
	border-radius: 10px;
	height: 2.4em;
	padding: 10px;
	color: #fff;
	margin-bottom: 10px;
	width: 60vh;
}

.msg{
	background-color: transparent;
	border: 1px solid #00ff88;
	border-radius: 10px;
	height: 10.0em;
	padding: 0px 10px;
	width: 60vh;
	color: #fff;
}
.conteudobla .listabla form div div {
	display: flex;
	flex-direction: column;
}
  
.conteudobla .listabla form div section {
	display: flex;
	justify-content: space-between;
}
.botaobla .btnicone{
	background-color: transparent;
	border: 1px solid #00ff88;
	border-radius: 10px;
	width: 210px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}
.botaobla .btnadicionar{
	width: 120px;
	height: 35px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*Pergunta*/

.alternativas{
    margin-top: 10px;
}
/*pag materia*/
.ecologia{
	text-align: center;
	transition: all .3s ease;
	width: 100%;
}
.ecologia .eco{
    color: #00ff88;
    
    font-size: 35px;
}
.bloquinhos{
    display: flex;
	justify-content: center;
	padding: 20px;
}
.bloquinhos .bloquinhosMateria{
    position: relative;
    font-size: 13px;
}
.bloquinhos .bloquinhosMateria h2{
    font-weight: normal;
}
.bloquinhos .bloquinhosMateria >div{
    border: 2px solid #00ff88;
	border-radius: 10px;
	height: 100%;
	width: 95.3%;
	background-color: #201b2c;
	text-align: center;
	padding: 39px;
    margin-right: 58px;
}
.bloquinhos .sombrabla{
    height: 100%;
	width: 90%;
	position: absolute;
	transform: translate(15px, 15px);
	z-index: -1;
}
