
.conteudoPergunta{
	padding: 20px;
	width: 100%;
	height: 100%;
}
.containerPergunta{
    width: 800px;
    border: #00ff88 2px solid;
    border-radius: 15px;
    padding: 20px 30px;
    margin: 0 auto;
}
.tituloPergunta{
	text-align: center;
	margin-bottom: 20px;
	color: #00ff88;	
}
.textoPergunta{
	margin-top: 10px;
}
.btnsAP{
    display: flex;
    justify-content: center;
    gap: 86%;
}
.imgPergunta{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
.imgPergunta img{
    width: 60%;
}
.alternativasPergunta{
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.btnAnt{
	color: #00ff88;
}
.btnAterior{
	border: solid 2px #201b2c;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btnAterior:hover{
	border: solid 2px #00ff88;
}

/* Page Listas */
.headerListaPerguntas{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
}

.headerListaPerguntas div{
	display: flex;
	align-items: center;
	gap:20px;
}
.containerLista{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 820px;
    border: #00ff88 2px solid;
    border-radius: 15px;
    padding: 20px 30px;
    margin: 10px auto;
}
.containerLista .assuntText{
	display: flex;
	gap: 20px;
}
.containerLista .btnlg{
	display: flex;
	gap: 20px;
}
.containerLista .btnsm{
	display: none;
}


/* Responsividades Tablet */

@media (max-width: 900px) {
	.containerPergunta{
		padding: 20px;
		width: 520px;
	}

	.headerListaPerguntas{
		display: flex;
		justify-content: space-between;
		margin: 0 10px;
	}
	.containerLista{
		width: 550px;
	}
	.containerLista .assuntText{
		flex-direction: column;
	}


}

/* Responsividades Celular */

@media (max-width: 660px){
	.containerPergunta{
		width: 360px;	
	}
	.containerLista{
		width: 380px;
	}
	.headerListaPerguntas{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.headerListaPerguntas div{
		margin-top: 20px;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.containerLista .btnsm{
		display: flex;
		gap: 10px;
		
	}
	.containerLista .btnlg{
		display: none;
	}
	.containerLista{
	    padding: 10px 15px;
	    margin: 10px auto;
	}
}