
/*form*/
.conteudobla{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-left: 80px;
}
.conteudobla .listabla{
	border: 2px solid #00ff88;
	border-radius: 10px;
	width: 80%;	
	margin-top: 80px;
}
.listabla form{
	display: flex;
	justify-content: center;
}
.lista{
	text-align: center;
  	color: #00ff88;
	margin-top: 15px;
  	margin-bottom: 10px;
	font-weight: normal;
	font-size: 25px;
}
.conteudobla .listabla label{
    font-size: 15px;
}
.conteudobla .listabla form input{
	background-color: transparent;
	border: 1px solid #00ff88;
	border-radius: 10px;
	height: 2.4em;
	padding: 10px;
	color: #fff;
	margin-bottom: 10px;
	width: 60vh;
}
.conteudobla .listabla form select{
	background-color: transparent;
	border: 1px solid #00ff88;
	border-radius: 10px;
	height: 2.4em;
	padding: 10px;
	color: #fff;
	margin-bottom: 10px;
	width: 60vh;
}
.conteudobla .listabla form select option{
	background-color: #2B2637;
	color: #fff;
	padding: 5px 10px;
}

.msg{
	background-color: transparent;
	border: 1px solid #00ff88;
	border-radius: 10px;
	height: 10.0em;
	padding: 0px 10px;
	width: 60vh;
	color: #fff;
}
.conteudobla .listabla form div div {
	display: flex;
	flex-direction: column;
}
  
.conteudobla .listabla form div section {
	display: flex;
	justify-content: space-between;
}
.botaobla .btnicone{
	background-color: transparent;
	border: 1px solid #00ff88;
	border-radius: 10px;
	width: 210px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}
.botaobla .btnadicionar{
	width: 120px;
	height: 35px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*Pergunta*/

.alternativas{
    margin-top: 10px;
}
/*pag materia*/
.ecologia{
	text-align: center;
	transition: all .3s ease;
	width: 100%;
}
.ecologia .eco{
    color: #00ff88;
    margin-top: 25px;
    font-size: 35px;
}
.bloquinhos{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: stretch;
	grid-gap: 20px;
	padding: 30px 20px;
}
.bloquinhos a{
    color: #fff;
	text-decoration: none;
}
.bloquinhos .bloquinhosMateria{
    position: relative;
    font-size: 13px;
	margin-bottom: 25px;
}

.bloquinhos .bloquinhosMateria h2{
    font-weight: normal;
}
.bloquinhos .bloquinhosMateria >div{
    border: 2px solid #00ff88;
	border-radius: 10px;
	height: 100%;
	width: 95.3%;
	background-color: #201b2c;
	text-align: center;
	padding: 39px;
    margin-right: 58px;
}
.bloquinhos .sombrabla{
    height: 100%;
	width: 90%;
	position: absolute;
	transform: translate(15px, 15px);
	z-index: -1;
}


@media (max-width: 900px) {

	.bloquinhos{
		grid-template-columns: repeat(2, 1fr);
	}
	.conteudobla .lista{
		margin-top: 40px;
	}
}

@media (max-width: 660px) {

	.conteudobla .listabla form input{
		height: 2.4em;
		padding: 10px;
		color: #fff;
		margin: 5px auto;
		width: 300px;
	}
	.conteudobla .listabla form select{
		height: 2.4em;
		padding: 10px;
		color: #fff;
		margin: 5px auto;
		width: 300px;
	}
	.conteudobla .listabla label{
	    margin-left: 20px;
	}
	.msg{
		width: 300px;
	}
	.bloquinhos{
		grid-template-columns: repeat(1, 1fr);
	}
}